#header{
    display: flex;
    justify-content: space-between;
    z-index: 100;
    align-items: center;
    padding: 10px;
    background-color: whitesmoke;
  }
  
  #title-block {
    display:flex;
    justify-content: left;
    align-items: center;
  }
  
  #search {
    width: 400px;
    font-size: 14px;
  }
  