.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

#header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
      width: 100%;
}
  
#title-block {
      display: flex;
      justify-content: left;
      align-items: center;
}
  
#search {
      width: 400px;
      font-size: 14px;
}
.icon {
          margin-right: 10px;
}
#home-link {
      text-decoration: none;
      color: whitesmoke;
}